**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/*.cache
**/bin
**/obj
**/logs
**/node_modules
**/.dockerignore
**/Dockerfile
**/docker-compose.yml
**/README.md
**/.github
**/tests
**/*.md
**/.env
**/.env.*

