.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
bin/
obj/
**/bin/
**/obj/
bin/**
obj/**

# Arquivos de usuário
*.suo
*.user
*.userosscache

# Sistema
Thumbs.db
desktop.ini
*.DS_Store
.suo
obj/**	
