.vs/
**.vs/**
.vs/**
.vs
**.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
bin/
obj/
**/bin/
**/obj/
bin/**
obj/**
net.8/**
**/net.8/
.net.8/
.v17/
**v.17/
# Arquivos de usuário
*.suo
*.user
*.userosscache

# Sistema
Thumbs.db
desktop.ini
*.DS_Store
.suo
obj/**	
.vs/**
**.vs/